
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}

@model  IEnumerable<EmployeeManagementSystem.Business.SharedModels.JobVacancyModel>
<div class="row">
    <div class="col-lg-12">
        <div id="panel-4" class="panel">
            <div class="panel-hdr">
                <h2>
                    Job Vacancy <span class="fw-300"><i>Records</i></span>
                </h2>
            </div>
            <div class="panel-container show">
                <div class="panel-content">

                    <HeaderTemplate>
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-warning-200">
                                <tr>
                                   
                                    <th>Tittle</th>
                                    <th>ExpiryDate</th>
                                    <th>Date Created</th>
                                   
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                    </HeaderTemplate>
                    <ItemTemplate>
                        @foreach (var item in Model)
                        {
                            <tr>

                               
                                <td>@item.Tittle</td>
                                <td>@item.ExpiryDate.ToLongDateString()</td>
                               
                                <td>@item.CreationDate.ToLongDateString()</td>
                                <td>@item.CreationDate</td>

                            </tr>
                        }
                    </ItemTemplate>
                    <FooterTemplate>
                        </tbody>
                        </table>
                    </FooterTemplate>

                    <!-- datatable end -->
                </div>
            </div>
        </div>
    </div>
</div>



