
@{
    ViewBag.Title = "InvalidUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-1" style="background:url(../../Content/Admin/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
    <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
              <div class="panel-danger">
                  <div class="panel-heading"> <h2>Invalid User</h2> </div>
                  <div class="panel-body">
                      <p class="text-danger"> You dont have access to our System</p>
                  </div>
              </div>
        </div>
</div>

